.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.431);
    background: linear-gradient(86deg, rgb(3 31 72 / 75%) -53%, rgba(5, 7, 24, 0.75), rgba(13, 34, 62, 0.75) 122%);
.nav-item {
    margin-right: 1.5rem;
.nav-link {
    color: #fff;
}
}
    .dropdown-menu {
        background-color: #000;
        color: #fff;
        padding: 1rem 0;
        width: 100%;
    
        .dropdown-item {
            color: #fff;
        }
        .dropdown-item:hover {
            color: #fff;
            background-color: rgb(98, 98, 98);
        }
    }

img.logo_img {
    margin-left: 2rem;
    height: auto;
    width: 100%;
}
button.navbar-toggler.btn.btn-none.btn.btn-border-none{
    background-color: #fff;
}
ul.dropdown-menu.show {
    margin-top: 11px;
}
}
@media screen and (max-width:786px) {
    .navbar {
        border-bottom: 1px solid rgba(255, 255, 255, 0.431);
        background: linear-gradient(86deg, rgb(3 31 72 / 75%) -53%, rgba(5, 7, 24, 0.75), rgba(13, 34, 62, 0.75) 122%);
    .nav-item {
        margin-right: 1.5rem;
    .nav-link {
        color: #fff;
    }
    }
    .dropdown-menu {
        background-color: #000;
        color: #fff;
        padding: 1rem 0;
    
        .dropdown-item {
            color: #fff;
        }
        .dropdown-item:hover {
            color: #fff;
            background-color: rgb(98, 98, 98);
        }
    }
    img.logo_img {
        margin-left: 0.6rem;
        height: auto;
        width: 100%;
    }
    button.navbar-toggler.btn.btn-none.btn.btn-border-none{
        background-color: #fff;
    }
    }
    }
